.content-body {
  width: 1250px;
  margin          : 0 20px 20px;
  border-radius   : 5px;
  background-color: #fff;
}

// Dark mode
.content-body {
  &.dark-mode {
    color           : #fff;
    background-color: #333;
  }
}