@import 'normalize.css';
@import '../../styles/variables.scss';

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size     : 62.5%;
  font-family   : Nunito, sans-serif;
  // font-family: Poppins,sans-serif;

  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  font-size       : 1.6rem;
  line-height     : 1.5;
  text-rendering  : optimizeSpeed;
  color           : $text-color;
  background-color: $bg-main-color;
  overflow-y      : overlay;
}

button,
input,
select,
[tabindex] {
  border : none;
  outline: none;
}

button {
  border-radius   : 5px;
  color           : #fff;
  background-color: $main-color;

  &:hover {
    opacity: 0.8;
    cursor : pointer;
  }

  a {
    color: #fff;
  }
}

a {
  color          : $text-color;
  text-decoration: none;
}

textarea {
  padding: 5px;
  border     : 1px solid #ddd;
  outline    : none;
  resize     : none;
  font-family: Nunito, sans-serif;

  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }

  &:focus {
    outline: 1px solid $main-color;
  }
}

// react modal
.ReactModal__Overlay {
  z-index: 400;
}

.ReactModal__Content {
  overflow: unset !important;
}

// react select
.css-1n6sfyn-MenuList {
  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.dark-mode {
  .css-1n6sfyn-MenuList {
    color: #fff;
    background-color: #444;
    .css-d7l1ni-option {
      background-color: #444;
    }
    .css-d7l1ni-option {
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
      }
    }
  }
}

//
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .ReactModal__Content {
    inset: 55% auto auto 50% !important;
    transform: translate(-50%, -55%) !important;
  }
}

@media only screen and (max-width: 740px) {
  .ReactModal__Content {
    inset: 55% auto auto 50% !important;
    transform: translate(-50%, -53%) !important;
  }
}