@import '../../styles/variables.scss';

.wrapper {
  background-color: $bg-main-color;

  .body-container {
    padding-top: $header-heigth;

    .default-content-container {
      width: calc(100% - $sidebar-width);
      margin : $header-heigth auto 0;
    }
  }
}