
$logo-width: 200px;
$sidebar-width: 240px;

$header-heigth: 60px;
$sub-header-height: 40px;
$manage-book-container-height: 610px;
$manage-chapter-container-height: 610px;
$manage-account-container-height: 610px;
$account-info-container-height: 610px;

$bg-main-color: #ecf3f7;
$main-color: #2eceed;
$text-color: #000;
$bg-scrollbar: #000;

$banner-filter: blur(4px);
$banner-overlay-gradient: linear-gradient(67.81deg,rgba(0,0,0,.64) 35.51%,transparent);