@import '../../../styles/variables';

#chapter-content-container {
  width           : 1000px;
  margin          : -40px auto 20px;
  border-radius   : 5px;
  background-color: #fff;

  .chapter-content-body {
    padding: 30px 40px;

    .last-update {
      text-align: end;
      color     : #888;

      .date,
      .time {
        font-style: italic;
      }
    }

    .chapter-info {
      padding    : 0 80px;
      text-align : center;
      font-size  : 35px;
      font-weight: 600;
      margin     : 30px 0 90px;
    }

    .chapter-content {
      margin-bottom: 50px;
      padding      : 0 40px;
      font-size    : 20px;
      white-space  : pre-wrap;
    }
  }

}

//
.chapter-list-modal {
  width        : 700px;
  height       : 580px;
  padding      : 20px;
  border-radius: 5px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .close {
    margin         : -20px -20px 0 0;
    position       : sticky;
    top            : -20px;
    display        : flex;
    justify-content: flex-end;

    .close-btn {
      width          : 30px;
      height         : 30px;
      display        : flex;
      justify-content: center;
      align-items    : center;

      &:hover {
        color           : #fff;
        background-color: red;
        cursor          : pointer;
      }
    }
  }

  .chapter-list-container {
    margin         : 0 10px;
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;

    .chapter-wrapper {
      width        : 49%;
      margin       : 5px 0;
      padding      : 5px 10px;
      display      : flex;
      border       : 1px solid #ddd;
      border-radius: 5px;

      .number {
        white-space: nowrap;
      }

      .title {
        overflow          : hidden;
        text-overflow     : ellipsis;
        white-space       : normal;
        display           : -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor          : pointer;
      }

      &.active {
        color           : #fff;
        background-color: $main-color;
      }
    }
  }
}

// Dark mode
.chapter-content-body {
  &.dark-mode {
    color           : #fff;
    background-color: #333;
  }
}

.chapter-list-modal {
  &.dark-mode {
    color           : #fff;
    background-color: #333;
  }
}