@import '../../../styles/variables.scss';

.sub-header {
  width           : calc(100vW - $sidebar-width);
  height          : $sub-header-height;
  padding         : 0 10px;
  background-color: #fff;
  position        : fixed;
  top             : $header-heigth;
  display         : flex;
  align-items     : center;
  box-shadow      : 0px 0 5px rgba(0, 0, 0, 0.2);
  z-index         : 200;

  .sub-header-title {
    font-size  : 28px;
    font-weight: 600;
  }
}

// Dark mode
.sub-header {
  &.dark-mode {
    background-color: #333;
  }

  .sub-header-title {
    color: #fff;
    font-size  : 28px;
    font-weight: 600;
  }
}